
html {
    background-image: linear-gradient(to left top, #002a00, green, #002a00);
    color: lightcyan;
    margin: 0;
    height: 100vh;
    background-attachment: fixed;
}

body {
    padding: 0;
    margin: 0;
}

body > *:not(header) {
    margin: 10px;
}

nav button, header h1 {
    margin: 5px;
    padding: 10px;
    color: lightcyan;
    display: inline;
}

h1:hover {
    text-decoration: underline;
}

header {
    border-bottom: 2px solid lightcyan;
    display: block;
}

header h1 {
    top: 0.3rem;
    position: relative;
}

header nav {
    display: inline-block;
    text-align: right;
    position: relative;


}


.decks-grid, .vid-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8cm, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    margin: 10px;
}

.decks-grid h2, .vid-grid h2 {
    margin-top: 0;
}

.path {
    display: inline;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 5px;
    margin: 3px;
}

.path-link:hover {
    text-decoration: underline;
}

.decks-grid .deck button, .vid-grid .vid button {
    background: green;
    color: lightcyan;
    border-radius: 100vw;
    padding: 0.6em;
    float: right;
}

.decks-grid .deck button:hover {
    background: darkGreen;
}

button:hover {
    color: black;
    background: green;
}


.add {
    font-size: xxx-large;
    text-align: center;
    display: block;
    width: 100%;

    position: relative;
    background: transparent;
    margin: 0;
    padding: 0;
    color: white;
    height: 100%;

}

button {
    display: inline;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 5px;
    margin: 3px;
    color: lightcyan;
    border: none;
    font-size: 1rem;
}

ul {
    margin: 0;
    padding-left: 8px;
    position: relative;
}

li::marker {
    content: none;
}

.deck, .vid {
    background: rgba(0, 0, 0, 0.71);
    border-radius: 8px;
    margin: 0cm;
    padding: 0.3cm;


}

.deck .deck {
    margin: 0;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    background: transparent

}

.card-edit-main .anki-questions {
    margin: 10px;
}

.card {
    margin: 0.5cm;
}


.card input, .card textarea {
    border-radius: 8px;
    border: none;
    padding: 10px;
    margin: 2px;
    max-width: 90%;

    width: 10cm;
    color: white;
    background: rgba(0, 0, 0, 0.3);

}

.card-edit-main hr {
    border: none;
    height: 0.5px;
    background: lightcyan;
}

.card-edit-main button {
    margin: 0 0.3cm;
}

.card-edit-main h2 {
    display: inline;
}

select {

    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: lightcyan;
    border-radius: 8px;
    margin-left: 5px;
    padding: 5px;
    font-size: 1rem;

}

iframe {
    border: none;
    border-radius: 8px;
    aspect-ratio: 16/9;
    width: 100%;

    max-width: min(20cm, 90%);
    margin: 0.5cm;
}